[kubeit]
{% for address in terraform_state_file.modules[0].outputs.public_ip.value %}
{{ address }}
{% endfor %}

[kubeit:master]
{{ terraform_state_file.modules[0].outputs.public_ip.value[0] }}

[kubeit:nodes]
{% for address in terraform_state_file.modules[0].outputs.public_ip.value[1:] %}
{{ address }}
{% endfor %}
